<mat-card>
  <mat-card-content>
    <mat-card-title>Skills</mat-card-title>
    <mat-card-subtitle>Range On Candidates Per skills</mat-card-subtitle>
    <div class="piechart">
      <apx-chart
        [series]="VisitorChartOptions.series"
        [chart]="VisitorChartOptions.chart"
        [labels]="VisitorChartOptions.labels"
        [responsive]="VisitorChartOptions.responsive"
        [tooltip]="VisitorChartOptions.tooltip"
        [legend]="VisitorChartOptions.legend"
        [colors]="VisitorChartOptions.colors"
        [dataLabels]="VisitorChartOptions.dataLabels"
        [plotOptions]="VisitorChartOptions.plotOptions"
        [stroke]="VisitorChartOptions.stroke"
      >
      </apx-chart>
    </div>
  </mat-card-content>
  <hr />
  <mat-card-content>
    <ul class="list-inline text-center">
      <li>
        <h6 class="text-success m-0">
          <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>.Net
        </h6>
      </li>
      <li>
        <h6 class="text-info m-0">
          <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Java
        </h6>
      </li>
      <li>
        <h6 class="m-0" style="color: #745af2;">
          <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Angular
        </h6>
      </li>
      <li>
        <h6 class="m-0"  style="color: #eceff1;">
          <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Azure
        </h6>
      </li>
      <li>
        <h6 class="m-0"  style="color: #26d4da;">
          <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Aws
        </h6>
      </li>
      <li>
        <h6 class="m-0"  style="color: #07b277;">
          <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Other
        </h6>
      </li>
      <li>
        <h6 class="m-0"  style="color: #f1e42c;">
          <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Power BI
        </h6>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
