
<mat-nav-list appAccordion>
    <mat-list-item appAccordionLink   routerLinkActive="selected" [routerLinkActiveOptions]="{ exact: true }">
        <a class="/" appAccordionToggle [routerLink]="['/dashboard/']" >
            <mat-icon>av_timer</mat-icon> 
            <span>Dashboard</span> 
            <span fxFlex></span> 
        </a>
    </mat-list-item>
        <ng-container *ngFor="let menuitem of menuItems.getMenuitem()">
            <mat-list-item appAccordionLink   routerLinkActive="selected">
            <a class="" appAccordionToggle [routerLink]="[ '/dashboard', menuitem.name]">
                <mat-icon>{{ menuitem.icon }}</mat-icon> 
                <span>{{ menuitem.label }}</span> 
                <span fxFlex></span> 
            </a>
        </mat-list-item>
        </ng-container>
    

</mat-nav-list>