
<mat-nav-list appAccordion>
    <mat-list-item appAccordionLink [routerLinkActive]="['selected']">
        <a class="/" appAccordionToggle>
            <mat-icon>av_timer</mat-icon> 
            <span>dashboard</span> 
            <span fxFlex></span> 
        </a>
    </mat-list-item>
    <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" [routerLinkActive]="['selected']">
        <a class="" appAccordionToggle [routerLink]="[ '/dashboard/', menuitem.name]">
            <mat-icon>{{ menuitem.icon }}</mat-icon> 
            <span>{{ menuitem.name }}</span> 
            <span fxFlex></span> 
        </a>
    </mat-list-item>
    <mat-list-item appAccordionLink>
        <a class="" appAccordionToggle>
            <mat-icon>logout</mat-icon> 
            <span>Logout</span> 
            <span fxFlex></span> 
        </a>
    </mat-list-item>
    

</mat-nav-list>