<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Entry"><app-entry-table [userId]="id"></app-entry-table></mat-tab>
    <mat-tab label="Technical Interview"><app-tech-applicant-table [userId]="id"></app-tech-applicant-table></mat-tab>
    <mat-tab label="HR Interview"><app-hr-applicant-table [userId]="id"></app-hr-applicant-table></mat-tab>
    <mat-tab label="Contract"><app-contract-applicant-table [userId]="id"></app-contract-applicant-table></mat-tab>
    <mat-tab label="Rejected"><app-reject-applicant-table [userId]="id"></app-reject-applicant-table></mat-tab>
  </mat-tab-group>