<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">

  <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="d-flex flex-wrap">
          <div>
            <mat-card-title>Applied Candidates</mat-card-title>
            <div style="    display: flex;
            justify-content: space-around;
            align-items: center;">
              <h2>+ 32 </h2>
              <mat-icon style="width: 32px; height: 32px; font-size: 32px">groups</mat-icon>
            </div>
          </div>
        </div>
    
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="d-flex flex-wrap">
          <div>
            <mat-card-title>Potential Candidates</mat-card-title>
            <div style="    display: flex;
            justify-content: space-around;
            align-items: center;">
              <h2>+ 40 </h2>
              <mat-icon style="width: 32px; height: 32px; font-size: 32px">group_add</mat-icon>
            </div>
           
          </div>
        </div>
    
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="d-flex flex-wrap">
          <div>
            <mat-card-title>Future Candidates</mat-card-title>
            <div style="    display: flex;
            justify-content: space-around;
            align-items: center;">
              <h2>+ 24 </h2>
              <mat-icon style="width: 32px; height: 32px; font-size: 32px">directions_run</mat-icon>
            </div>
          </div>
        </div>
    
      </mat-card-content>
    </mat-card>
  </div>

  <!-- column -->
  <div fxFlex.gt-lg="65" fxFlex.gt-md="65" fxFlex.gt-xs="100" fxFlex="100">
    <app-sales-overview></app-sales-overview>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-lg="35" fxFlex.gt-md="35" fxFlex.gt-xs="100" fxFlex="100">
    <app-our-visiter></app-our-visiter>
  </div>
  <!-- column -->
</div>

<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->

